body, #root {
  margin: 0;
  padding: 0;
  transition: background-color 0.3s linear;
}

.App {
  text-align: center;
  padding: 2rem;
  min-height: 100vh; /* Use min-height to ensure full screen height is used, but can grow if content is longer */
}

/* Header styling for the toggle switch */
.app-header {
  position: fixed; /* Changed to fixed to keep it on the top right regardless of scrolling */
  right: 16px;
  top: 16px;
}

/* Switch styling */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Set a default gradient background for the entire app */
body, #root {
  width: 100%; /* Set width to 100% for full responsiveness */
  height: 100%; /* Set height to adjust dynamically */
  background: linear-gradient(180deg, rgba(255, 234, 0, 0.21) 0%, rgba(0, 125, 153, 0.21) 100%);
}

.light-mode {
  color: black;
}

.dark-mode {
  background-color: #333; /* This will override the gradient background */
  color: white;
}

/* Responsive adjustments for smaller screens or halved screen scenarios */
@media (max-width: 768px) {
  .app-header {
    right: 10px;
    top: 10px;
  }

  .App {
    padding: 1rem;
  }

  .switch {
    width: 50px; /* Slightly smaller switch */
    height: 28px;
  }

  .slider:before {
    height: 22px;
    width: 22px;
  }

  input:checked + .slider:before {
    transform: translateX(24px);
  }
}
